<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://d2fq26gzgmfal8.cloudfront.net/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9/datatables.min.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Trains</h1>
        </div>
            <div class="row">
            <form action="/" method="get">
             <div class="form-group">
                <label for="exampleFormControlSelect1">Station select</label>
                <select class="form-control" id="abbr" name="abbr" >
                    <option value="" selected disabled>Select Station</option>
                    {{ range .AllStations }} 
                  <option>{{ .Abbr }}</option>
                    {{ end }} 
                </select>
                <select class="form-control" id="line" name="line" >
                    <option value="" selected disabled>Select Line</option>
                    {{ range .AllLines }} 
                  <option>{{ .Color }}</option>
                    {{ end }} 
                </select>
              </div>
              <input type="submit">
            </form>
            </div>
        <div class="row">
            <table class="table table-bordered" id="stations">
                <thead>
                    <tr>
                        <th>Dest</th>
                        <th>Minutes</th>
                        <th>Line</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .SelectedStations }}
                    <tr>
                        <td>{{ .Dest }}</td>
                        <td>{{ .Minutes }}</td>
                        <td>{{ .Line }}</td>
                        <td>{{ .Points }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    <script src="http://d2fq26gzgmfal8.cloudfront.net/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs/dt-1.10.9/datatables.min.js"></script>
    <script src="http://d2fq26gzgmfal8.cloudfront.net/bootstrap.min.js"></script>
    <script>
        $(document).ready(function()
        {
            $('#stations').DataTable(
                "pageLength" : 50
            )
        
        });
    </script>
</body>
</html>
